table, th, td {
    border: 1px solid black;
  }
div{
    background-color: aqua;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 5px;
    padding-bottom: 20px;
}
td,th{
    padding-left: 20px;
}