<!-- <div class="main">
     <div>
          <button class="btn btn-danger" (click)="DisplayAllDoctors()">Fetch Grid Data</button>
     </div>
     <div class="row">
        <div class="col-4">
         <div class="input-group mt-3">
            <input type="text" class="form-control" [(ngModel)]="query" placeholder="Enter Your Doctor ID">
            <div class="input-group-append">
              <button class="btn btn-primary rounded-right" type="button" (click)="onSearch()">Search</button>
            </div>
       </div>
        </div>
     </div>
     <div class="row" *ngIf="searchFlag">
         <div class="col-4 bg-info rounded m-3 p-2 text-danger">
            <h4>Id : {{doctor.docId}}</h4>
            <h4>Name : {{doctor.docName}}</h4>
            <h4>Income : {{doctor.income | currency:'INR'}}</h4>
            <h4>Specialization : {{doctor.specialization}}</h4>
         </div>
      </div>
    
     <div class="row" *ngIf="editFlag">
        <div class="col-4 bg-dark text-white rounded">
         <h4>Id : {{doctor.docId}}</h4>
         <h4>Name : {{doctor.docName}}</h4>
         <h4>Income : {{doctor.income | currency:'INR'}}</h4>
         <h4>Specialization : {{doctor.specialization}}</h4>
        </div>
     </div>
</div>

<div>
   <h3 class="text-success">{{message}}</h3>
</div> -->
