<div class="container">
   <form>
        <dl>
            <dt>Doctor Id</dt>
            <dd><input type="text" value="{{doctor.docId}}" readonly></dd>
            <dt>Doctor Name</dt>
            <dd><input type="text" value="{{doctor.docName}}"></dd>
            <dt>Income</dt>
            <dd><input type="text" name="" id="" value="{{doctor.income}}"></dd>
            <dt>Specialization</dt>
            <dd><input type="text" value="{{doctor.specialization}}"></dd>
        </dl>
        <button class="btn btn-primary">Save</button>
   </form>
</div>