<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        var fruits = ["mango","apple","banana","pineapple","grapes","coconut","pomegranate"];
        function load()
        {
            for(var item of fruits){
              var li = document.createElement('li');
              li.innerHTML = item;
              document.querySelector('ol').appendChild('li');
            }
        }
    </script>
</head>
<body onload="load()">
    <ol></ol>
</body>
</html>