<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudentComponent</title>
</head>
<body>
    <h1>Welcome To Student Component</h1>
    <hr>
    <table align="center" border="1px">
        <tr>
            <th>Student Id</th>
            <th>Student Name</th>
            <th>Branch</th>
            <th>Subject</th>
        </tr>
        <tr>
            <td>{{sId}}</td>
            <td>{{sName}}</td>
            <td>{{branch}}</td>
            <td>{{subject}}</td>
        </tr>
    </table>
</body>
</html>