<div class="container-fluid">
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of emps">
                   <td>{{item.eid}}</td>
                   <td>{{item.ename | title:item.gender}}</td>
                   <td>{{item.gender}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>