<div class="container-fluid text-white">
      <div>
          <div class="result">Result-0</div>
          <button class="btn btn-primary rounded-0">7</button>
          <button class="btn btn-primary rounded-0">8</button>
          <button class="btn btn-primary rounded-0">9</button>
          <button class="btn btn-primary rounded-0">x</button><br>
          <button class="btn btn-primary rounded-0">4</button>
          <button class="btn btn-primary rounded-0">5</button>
          <button class="btn btn-primary rounded-0">6</button>
          <button class="btn btn-primary rounded-0">-</button><br>
          <button class="btn btn-primary rounded-0">1</button>
          <button class="btn btn-primary rounded-0">2</button>
          <button class="btn btn-primary rounded-0">3</button>
          <button class="btn btn-primary rounded-0">+</button><br>
          <button class="btn btn-primary rounded-0">Clear</button>
          <button class="btn btn-primary rounded-0">0</button>
          <button class="btn btn-primary rounded-0">.</button>
          <button class="btn btn-primary rounded-0">=</button><br>
      </div>
</div>