<div class="container-fluid bg-info text-white p-3">
     <div>
        <button class="btn btn-primary rounded-0 border border-warning">BTN1</button>
        <button class="btn btn-primary rounded-0 border border-warning">BTN2</button>
        <button class="btn btn-primary rounded-0 border border-warning">BTN3</button>
        <button class="btn btn-primary rounded-0 border border-warning">BTN4</button>
        <button class="btn btn-primary rounded-0 border border-warning">BTN5</button>
    </div>

</div>
<div class="container-fluid bg-primary text-white p-5 mt-5">
    <h1>My First Bootstrap Page</h1>
    <p>This part is inside a .container-fluid class.</p>
    <p>The .container-fluid class provides a full width container, spanning the entire width of the viewport.</p>     
  </div>
<div class="container bg-dark text-white p-5 my-5">
  <h1>My First Bootstrap Page</h1>
  <p>This part is inside a .container class.</p>
  <p>The .container class provides a responsive fixed width container.</p>
  <p>Resize the browser window to see that the container width will change at different breakpoints.</p>
</div>
<h2>Grid Systems</h2>
<div class="row">
   <div class="col-sm-4 text-white bg-dark p-5">
       <p>My name is sukanta col-4</p>
   </div>
   <div class="col-sm-4 bg-danger text-white p-5">
    <p>My name is sukanta col-4</p>
   </div>
   <div class="col-sm-4 bg-success p-5">
    <p>My name is sukanta col-4</p>
   </div>
</div>
<div class="row">
    <div class="col bg-danger">col3</div>
    <div class="col bg-dark text-white">col3</div>
    <div class="col bg-info">col3</div>
    <div class="col bg-warning">col3</div>
</div>
<div class="row">
    <div class="col bg-danger">col2</div>
    <div class="col bg-dark text-white">col2</div>
    <div class="col bg-info">col3</div>
    <div class="col bg-warning">col2</div>
    <div class="col bg-success">col2</div>
    <div class="col bg-primary">col2</div>
</div>
<div class="row">
    <div class="col-md-8 p-5 bg-dark text-white">col-md-8</div>
    <div class="col-md-4 p-5 bg-primary text-white">col-md-4</div>
</div>
<div class="row">
    <div class="col-md-3 p-5 bg-primary text-white">col-md-3</div>
    <div class="col-md-9 p-5 bg-dark text-white">col-md-9</div>
</div>
<h3>Table</h3>
<div class="container">
    <h2>Striped Rows</h2>
   <p>The .table-striped class adds zebra-stripes to a table:</p>
   <table class="table table-striped">
       <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
          </tr>
       </thead>
       <tbody>
          <tr>
            <td>Sukanta</td>
            <td>Sahoo</td>
            <td>suksahoo1992@gmail.com</td>
          </tr>
          <tr>
            <td>Sukanta</td>
            <td>Sahoo</td>
            <td>suksahoo1992@gmail.com</td>
          </tr>
          <tr>
            <td>Sukanta</td>
            <td>Sahoo</td>
            <td>suksahoo1992@gmail.com</td>
          </tr>
          <tr>
            <td>Sukanta</td>
            <td>Sahoo</td>
            <td>suksahoo1992@gmail.com</td>
          </tr>
          <tr>
            <td>Sukanta</td>
            <td>Sahoo</td>
            <td>suksahoo1992@gmail.com</td>
          </tr>
          <tr>
            <td>Sukanta</td>
            <td>Sahoo</td>
            <td>suksahoo1992@gmail.com</td>
          </tr>
       </tbody>
   </table>
</div>
<h1>Responsive Table</h1>
<div class="table-responsive-sm">
    <table class="table table-striped">
       <thead>
        <tr>
            <th>#</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
            <th>City</th>
            <th>Country</th>
            <th>Sex</th>
           
         
         
        </tr>
       </thead>
       <tbody>
        <tr>
            <td>1</td>
          <td>Anna</td>
          <td>Pitt</td>
          <td>35</td>
          <td>New York</td>
          <td>USA</td>
          <td>Female</td>
       
         
        
        </tr>
        <tr>
          <td>1</td>
          <td>Anna</td>
          <td>Pitt</td>
          <td>35</td>
          <td>New York</td>
          <td>USA</td>
          <td>Female</td>
        
        
        </tr>
       </tbody>
    </table>
</div>
