<div class="container-fluid">
    <h3>Register User</h3>
    <form [formGroup]="registrationForm" (submit)="Register(registrationForm.value)">
          <dl>
             <dt>Username</dt>
             <dd><input type="text" formControlName="username"></dd>
             <dt>Age</dt>
             <dd><input type="number" formControlName="age"></dd>
             <dt>Mobile</dt>
             <dd><input type="text" formControlName="mobile"></dd>
             <dt>isActive?</dt>
             <dd><input type="checkbox" formControlName="isActive"></dd>
             <dt>Gender</dt>
             <dd>
                <input type="radio" formControlName="gender" value="male">Male
                <input type="radio" formControlName="gender" value="female">Female
            </dd>
            <dt>Select Course</dt>
            <dd>
                <select  formControlName="course">
                    <option value="Hibernate">Hibernate</option>
                    <option value="Spring">Spring</option>
                    <option value="Spring Boot">Spring Boot</option>
                    <option value="Core Java">Core Java</option>
                    <option value="Advance Java">Advance Java</option>
                    <option value="Microservices">Microservices</option>
                </select>
            </dd>
            <dt>Email</dt>
            <dd><input type="email" formControlName="email"></dd>
          </dl>
          <button class="btn btn-primary">Register</button>
    </form>
</div>