<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>{{title}}</h1>
    <hr>
    <div>
        <form action="/login">
            <table align="center">
                <tr>
                    <td>Username</td>
                    <input type="text" name="username"/>
                </tr>
                <tr>
                    <td>Password</td>
                    <input type="password" name="pwd"/>
                </tr>
                <tr>
                    <input type="submit" value="Login"/>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>