<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="register" method="post" class="container" #myForm="ngForm" (ngSubmit)="Validate(myForm.value)">
        <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter your first name" name="firstName" ngModel>
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter your last name" name="lastName" ngModel>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter your email" name="email" ngModel>
        </div>
        <div class="form-group">
            <label>Mobile Number</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter your mobile number" name="mno" ngModel>
          </div>
        <div class="saveBTN">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </form>
      <div style="text-align: center; background-color: cyan; padding: 40px; margin-left: 500px; margin-right: 500px; margin-top: 30px;">
        First Name :&nbsp;&nbsp; {{StudentFormJson.firstName}} <br>
        Last Name :&nbsp;&nbsp;{{StudentFormJson.lastName}} <br>
        Email :&nbsp;&nbsp;{{StudentFormJson.email}} <br>
        Mobile Number :&nbsp;&nbsp;{{StudentFormJson.mob}}
      </div>
</body>
</html>
