.container{
    width: 500px;
    margin-top: 50px;
    background-color: gray;
    color: white;
    padding: 40px;
    font-size: 20px;
    border-radius: 5px;
}
.saveBTN{
    margin-left: 180px;
    padding-top: 20px;
}