<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <ul class="list-unstyled">
                <li class="mb-3"><a routerLink="home" class="btn btn-danger w-100">Home</a></li>
                <li class="mb-3"><a routerLink="login" class="btn btn-danger w-100">Login</a></li>
                <li class="mb-3"><a routerLink="register" class="btn btn-danger w-100">Register</a></li>
            </ul>
        </div>
        <div class="col-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->
<div class="container text-center">
    <a routerLink="home">Home</a>
    <a routerLink="login">Login</a>
    <a routerLink="register">Register</a>
    <a routerLink="blogs">Blogs</a>
</div>
<div class="col-10">
    <router-outlet></router-outlet>
</div>
