<div class="container-fluid">
    <header class="m-2 bg-dark text-white p-2 d-flex justify-content-between">
          <div>
              <h3>Welcome to Flipkart</h3>
          </div>
          <div class="nav">
             <a routerLink="home">Home</a>
             <a routerLink="jewelery">Jewelery</a>
             <a routerLink="electronics">Electronics</a>
             <a routerLink="mens">Men's</a>
             <a routerLink="womens">Womens's</a>
             <a routerLink="admin">Admin Portal</a>
          </div>
          <div>
            <span class="bi bi-heart me-2"></span>
            <span class="bi bi-person me-2"></span>
            <span class="bi bi-search me-2"></span>
          </div>
    </header>
    <section class="mt-3">
        <router-outlet></router-outlet>
    </section>
</div>