.bgRed{
    background-color: red;
    width: 100%;
    height: 100%;
}
.yellowBg{
    background-color: yellow;
    width: 100%;
    height: 100%;
}
.blueBg{
    background-color: blue;
    width: 100%;
    height: 100%;
 }