<div class="container-fluid mt-3">
    <div class="mt-3 p-3 d-flex justify-content-between">
         <span class="brand">NETFLIX</span>
         <span>
            <select class="me-3">
               <option value=""><b>Language</b></option>
               <option value="">English</option>
               <option value="">Hindi</option>
               <option value="">Odia</option>
            </select>
            <button class="btn btn-danger">SignIn</button>
         </span>
    </div>

</div>