.container{
    text-align: center;
    font-size: 40px;
    background-color: aqua;
}
h1{
    text-align: center;
    color: red;
}
.bulb{
    margin-top: 30px;
    text-align: center;
    background-color: #29b6f6;
    margin-left: 600px;
    margin-right: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 60px;
    border: 1px solid blue;
    border-radius: 10px;
}
img{
    border-radius: 10px;
    width: 150px;
    margin-left: 50px;
}
#btn{
    width: 100px;
    height: 40px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 20px;

}